.buttons {
  all: unset;
  width: 70px;
  height: 35px;
  border-radius: 3px;
  background: grey;
}

.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: yellow;
}

.class-Room {
  padding: 8%;
}

.Seating {
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  /* border: dashed; */
  /*padding: 29px;*/
}
